#glasspic{
    position: absolute;
    width : 100%;
    height : 360px;
    z-index: 0;
}

#profilePic{
    z-index: 2;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(22, 21, 21, 0.2);
    position: absolute;
    top:15%;
    left:15%;
    width : 200px;
    height : 200px;
}
.leftblock{
    z-index: 1;
    background-color:#FFFFFF;  
    width : 300px;
    height : 728px;
    position: absolute;
    left: 12%;
    top: 31%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    display: inline;
    white-space: normal;
    font-family: Prompt;
    padding-left:25px;
    word-wrap: break-word;
}
.topblock{
    background-color:#ffffff;  
    width : 800px;
    height : 200px;
    position: absolute;
    left: 34%;
    top: 31%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
}
.bottomblock{
    background-color:#FFFFFF;  
    width : 800px;
    height : 600px;
    position: absolute;
    left: 34%;
    top: 62%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    overflow: auto;
}


.block{
    top: 50%;
    left: 50%;
    translate:(-50%, -50%);

}

.Profile{ 
    background-attachment: fixed;
    background-size: cover;
    background-color:#F5F8FA; 
    width : 100%;
    height : 1300px;
}
#Description{
    font-family:Prompt;
    padding: 30px 0px 20px 30px;
}
#para{
    font-family:Prompt;
    padding: 0px 35px 0px 30px;
}

#ButtonPetAdop{
    background-color: #ffffff;
    border: white;
    color: rgb(0, 0, 0);
    padding: 35px 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: Prompt;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    padding-top: 30px;
    margin: 4px 2px;   
}
#ButtonPetRegis{
    background-color: #ffffff;
    border: white;
    color: rgb(0, 0, 0);
    padding: 35px 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: Prompt;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    margin: 4px 2px;   
    padding-bottom: 10px;
}
#ButtonPetDonate{
    background-color: #ffffff;
    border: white;
    color: rgb(0, 0, 0);
    padding: 35px 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: Prompt;
    text-align: center;
    display: inline-block;
    border-radius: 0;
    margin: 4px 2px;   
}
.navbar {
    min-height: 80px;
}

.profilename{
    font-size: 35px;
    padding-left: 40px;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.notbold{
    font-weight: normal;
    font-size:17px;
}
.EditInformationBlock{
    z-index: 1;
    background-color:#FFFFFF;  
    width : 300px;
    height : 980px;
    position: absolute;
    left: 12%;
    top: 31%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-family: Prompt;
    padding-left:25px;
}
.EditProfile{
    z-index: 2;
    position: absolute;
    background-color: #b19d85;
    font-family: Prompt;
    font-size: 20px;
    color: white;
    left: 79.5%;
    top : 24%;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
}

#AddressInput{
    height: 120px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 5px;
    resize: none;
    width: 255px;
}

#Input{
    border: 2px solid rgb(209, 209, 209);
    border-radius: 5px;
}

#ButtonUpdate{
    position: relative;
    top:20px;
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 5px;
    left:25%
}

.h4{   
    font-family: Prompt;
    font-weight: bold;
}

#DescriptionInput{
    position: relative;
    height: 180px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 5px;
    resize: none;
    width: 720px;
    left: 30px;
    top:5px;
}

.DescriptionEditBlock{
    background-color:#FFFFFF;  
    width : 800px;
    height : 350px;
    position: absolute;
    left: 34%;
    top: 62%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: Prompt;
    font-weight: bold;
}

#DescriptionButton{
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    top: 20px;
    left: 627px;
}
.EditPasswordBlock{
    display: inline-block;
    background-color:#FFFFFF;  
    width : 800px;
    height : 100px;
    position: absolute;
    left: 34%;
    top: 115%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding:30px;
}

#EditPasswordButton{
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 30px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    left: 417px;
}

.EditEmailBlock{
    display: inline-block;
    background-color:#FFFFFF;  
    width : 800px;
    height : 100px;
    position: absolute;
    left: 34%;
    top: 133%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding:30px;
    
}
#EditEmailButton{
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 48px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    left: 455px;
}

.EditPhoneBlock{
    display: inline-block;
    background-color:#FFFFFF;  
    width : 800px;
    height : 100px;
    position: absolute;
    left: 34%;
    top: 152%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding:30px;
    
}
#EditPhoneButton{
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 48px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    left: 454px;
}

.ChangePage{
    background-attachment: fixed;
    background-size: cover;
    background-color:#F5F8FA; 
    width : 100%;
    height : 800px;
}

.BlockBehindProfilePic{
    z-index: 1;
    background-color:#FFFFFF;  
    width : 300px;
    height : 200px;
    position: absolute;
    left: 12%;
    top: 31%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-family: Prompt;
    padding-left:25px;
}
.ChangeBlock{
    background-color:#FFFFFF;  
    width : 1200px;
    height : 300px;
    position: absolute;
    left: 12%;
    top: 63%;
    border: 0.5px solid;
    border-color: rgb(214, 213, 211);
    padding: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-family: Prompt;
    padding-left:25px;
}
#SubmitPasswordButton{
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 48px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    left: 500px;
    top:100px;
}
#ChangePassword{
    position: relative;
    top: 50px;
    left: 250px;
    font-family: Prompt;
    font-weight: bold;
}
#InputChangePassword{
    position: relative;
    top: 50px;
    left: 250px;
}

#ChangeEmail{
    position: relative;
    top: 70px;
    left: 250px;
    font-family: Prompt;
    font-weight: bold;
}
#InputChangeEmail{
    position: relative;
    top: 70px;
    left: 250px;
}
#SubmitEmailButton{
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 48px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    left: 980px;
    top: 100px;
}

#ChangePhone{
    position: relative;
    top: 70px;
    left: 250px;
    font-family: Prompt;
    font-weight: bold;
}
#InputChangePhone{
    position: relative;
    top: 70px;
    left: 250px;
}
#SubmitPhoneButton{
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 48px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    left: 980px;
    top:100px;
}
#DoneButton{
    color: white;
    background-color: #61B292;
    border: none;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 40px;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
    left: 1190px;
    top: 170px;
}
.PetBlock{
    background-color: lightgrey;
    width: 100px;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
    display: inline;
}
.blockPetdonate{
    position: relative;
    display: inline-block;
}

.CardPetBlock{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 27%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    float: left;
    margin: 20px;
    background-color:#F5F8FA; 
}

.ImgCardPetBlock{
    width:100%;
    height: 110px;
}

.NamePetCard{
    color:black;
    text-align: center;
}

